.section {
  font-size: 1rem;
  background-color: $cl-bg;
  border: 1px solid $cl-outline;
  border-radius: 25px;
  padding: 1.6em;
  font-family: $ff;
  display: none;

  &.active {
    display: block;
  }

  &-wrapper {
    width: 90%;
    max-width: 40rem;
  }

  &__header {
    margin-left: .2em;
    color: $cl-text;
  }
  
  &__heading {
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: .3em;
  }
  
  &__desc {
    font-size: .9em;
    margin-bottom: 1.2em;
  }
}

.label {
  font-size: 0.9em;
  color: $cl-text;
}

.checkbox {
  width: 1.2em;
  height: 1.2em;
  margin-right: .4em;
}

.btn {
  display: block;
  color: #fff;
  background-color: $cl-primary;
  font-size: 1em;
  font-weight: 500;
  font-family: $ff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: .8em 3em;
}

.success {
  font-size: .9em;
  background-color: $cl-success;
  border: 1px solid $cl-success-outline;
  border-radius: 15px;
  padding: .9em 1.2em;

  &-text {
    font-weight: 500;
    color: $cl-success-text;
  }
}

.error {
  font-size: .9em;
  color: $cl-error-text;
  background-color: $cl-error;
  border: 1px solid $cl-error-outline;
  border-radius: 15px;
  padding: .9em 1.2em;
  margin-bottom: .8em;

  &__title {
    display: flex;
    align-items: center;
    font-weight: 700;
  }

  & img {
    width: 1.5em;
    margin-top: -.2em;
    margin-right: .4rem;
  }

  &__desc {
    margin-top: .3em;
    font-weight: 400;
    margin-left: .2em;
  }

  &-text {
    color: $cl-error-text;
    font-weight: 500;
  }
}

