$cl-primary: #F92121;
$cl-secondary: #16ACDB;
$cl-text: #262626;
$cl-outline: #CECECE;
$cl-bg-body: #F8F7F7;
$cl-bg: #fff;

$cl-success: #F0FFE3;
$cl-success-outline: #9CDC6A;
$cl-success-text: #049A25;

$cl-failure: #FFCFCF;
$cl-failure-outline: #CF6868;
$cl-failure-text: #D61919;

$ff: "Roboto", sans-serif;